<section class="todoapp">
    <header class="header">
        <h1>todo</h1>
        <input class="new-todo"
            placeholder="What needs to be done?"
            [(ngModel)]="newTodo"
            (keyup.enter)="createTodo()">
    </header>

    <section class="main">
        <ul class="todo-list">
            <li *ngFor="let todo of todos">
                <div class="view">
                    <input class="toggle"
                        type="checkbox">
                    <label>{{ todo.name }} </label>
                    <button class="destroy"></button>
                </div>
            </li>
        </ul>
    </section>
    <footer class="footer">
        <span class="todo-count"><strong> {{ todos.length }} </strong> item left</span>
    </footer>
</section>